* {
    font-family: 'Consolas', sans-serif;
    font-size: 1.01em;
}

body {
    overflow-x: hidden;
}

table {
    table-layout: fixed;
    text-align: center;
}

table img {
    width: 50px;
    max-width: 125px;
    max-height: 50px;
}

td, th {
    vertical-align: middle;
}

.table>:not(caption)>*>* {
    padding: unset;
}

img.scaleItem {
    z-index: 10;
    position: relative;
    transform: scale(1);
    transition: transform ease-in-out .25s;
}

img.scaleItem:hover {
    z-index: 20;
    transform: scale(2.5);
}

.form-floating .form-control {
    background-color: var(--bs-light);
}

.form-select {
    background-color: var(--bs-light);
}

.top {
    display: flex;
    justify-content: space-between;
}

.top > div:first-of-type {
    display: flex;
    width: 100vw;
    align-items: end;
}

.top > div:last-of-type {
    display: flex;
    font-size: 1.5rem;
    align-items: end;
}

.form-check {
    margin-bottom: 0;
}

.form-control-lg {
    font-size: 1.5rem;
    padding: .3rem 1rem;
}

.top .form-switch {
    display: flex;
    padding-left: 2.3em;
}

.form-switch .form-check-input {
    margin-left: -1.5em;
}

.top img {
    width: 300px;
    height: 105px
}

/* screen narrower than px define below will apply the css inside it */
@media (max-width: 1200px) {

    /* make the table horizontally scrollable */
    .scrollHorizontally {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}