body {
    overflow-x: hidden;
}

.font-common {
    font-family: 'Consolas', sans-serif;
    font-size: 1.01em;
}

.top {
    display: flex;
    justify-content: space-between;

    @media (max-width:800px) {
        flex-direction: column;
        align-items: flex-end;
    }

    >div {
        &:first-of-type {
            display: flex;
            width: 100vw;
            align-items: flex-end;

            @media (max-width:800px) {
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 300px;
                height: 105px;
            }
        }

        &:last-of-type {
            display: flex;
            font-size: 1.5rem;
            align-items: flex-end;

            .form-check {
                display: flex;
                font-size: 1.5rem;
                margin-bottom: 0;
                padding: .3rem 1rem;
                padding-left: 2.3em;
            }
        }

        .form-switch .form-check-input {
            margin-left: -1.5em;
        }
    }
}

table {
    table-layout: fixed;
    text-align: center;

    tr {
        vertical-align: middle;

        i {
            cursor: pointer;
        }

        img {
            width: 50px;
            max-width: 125px;
            max-height: 50px;

            &.scale {
                z-index: 10;
                position: relative;
                transform: scale(1);
                transition: transform ease-in-out .25s;

                &:hover {
                    z-index: 20;
                    transform: scale(2.5);
                }
            }
        }
    }

    >:not(caption)>*>* {
        padding: unset !important;
    }

    @media (max-width: 800px) {

        // make the table horizontally scrollable
        &.scrollHorizontally {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    }
}

ul.paper-pagination {
    $size: 1.25em;

    display: flex;
    justify-content: flex-end;
    list-style: none;

    >li {
        float: left;
        margin: 0 0.1em;
        user-select: none;
        cursor: pointer;
        transition: line-height 0.1s linear;
        color: var(--pagination-color-reverse);
        font-size: $size;

        &:hover {
            line-height: 1;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                left: 0;
                bottom: 4px;
                border-bottom: 2px solid var(--pagination-color-reverse);
            }
        }

        &.active-two-digits {
            background: var(--pagination-color-reverse);
            border-radius: 100%;
            width: 1.5em;
            height: 1.5em;
            color: var(--pagination-color);
            text-align: center;

            &:hover {
                line-height: unset;
                cursor: initial;

                &::after {
                    border-bottom: unset;
                }
            }
        }

        &.active-three-or-more-digits {
            background: var(--pagination-color-reverse);
            height: 1.5em;
            padding: 0 .15em;
            color: var(--pagination-color);
            text-align: center;
            border-radius: .5em;

            &:hover {
                line-height: unset;
                cursor: initial;

                &::after {
                    border-bottom: unset;
                }
            }
        }
    }
}